<h2><%= @post.title %></h2>
<p style="font-size: larger"><%= @post.body %></p>
<p style="text-align: right"><%= @post.user.email %></p>
<hr>
<ul class="nav">
  <li class="ms-auto" style="margin-right: 6px"><%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-warning' %></li>
  <li><%= button_to "Delete", post_path(@post), method: :delete, :class => 'btn btn-danger' %></li>
</ul>
<hr>

<h1>Comments</h1>
<% @post.comments.each do |comment| %>
  <div class="alert alert-light">
    <%= comment.username %>: <%= comment.body %>
  </div>
<% end %>

<hr>
<h2>Add comment</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <p class="alert alert-danger"><%= msg %></p>
    <% end %>
  <% end %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field(:username, { :class => 'form-control' }) %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area(:body, { :class => 'form-control' }) %>
  </p>
  <p>
    <%= f.submit("Add", { :class => 'btn btn-warning' }) %>
  </p>
<% end %>